# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Node (à ignorer)
node_modules/
package*.json
vite.config.*
index.html

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
